@use '../Column-center';
@use '../Row-center';
@use '../Basic-needs';
@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

.nav-bar-for-website{
    height: auto;
    width: 100%;
    padding: 0px 100px 0px 100px;
    @include Column-center.column-center;
    justify-content: flex-start;
    .mobile-burger-menu{
        display: none;
    }
    .nav-container-for-search{
        height: auto;
        width: 100%;
        @include Row-center.row-center;
        
        .search-bar-nav{
            height: auto;
            width: 100%;
           
            @include Row-center.row-center;
            gap: 10px;
            justify-content: flex-start;
            padding: 15px 0px 15px 0;
            .search-bar-container-in-nav{
                height: auto;
                width: auto;
                padding: 8px 10px 8px 10px;
                border: 1px solid Basic-needs.$border-light-color;
                border-radius: 20px;
                .input-for-search{
                    width: 240px;
                    background-color: transparent;
                    font-size: 13px;
                    font-weight: 500;
                    font-family: 'Open Sans';
                    border: none;
                    outline: none;
                    border: 0px;
                    letter-spacing: 0.5px;
                    color: Basic-needs.$sub-main-txt-clr;

                }
                .input-for-search::placeholder{
                    font-size: 14px;
                    font-family: 'Walter Turncoat';

                    letter-spacing: 0.5px;
                    

                }
                
                
            }
            .search-icon-holder-nav{
                height: 32px;
                width: 32px;
                background-color: Basic-needs.$Main-color;
                transition-duration: 0.5s;
                @include Row-center.row-center;
                border-radius: 10px;
                .search-icon-nav{
               font-size: 16px;
               color: white;
                }
            }
            .search-icon-holder-nav:hover{
                cursor: pointer;
                background-color: Basic-needs.$sub-color;
                transition-duration: 0.5s;
            }
            

        }
        .social-link-nav{
            height: auto;
            width: 100%;
            @include Row-center.row-center;
            gap: 15px;
            padding: 8px 0px 8px 0;
            justify-content: flex-end;
            .social-icons-nav{
                height:32px;
                width:32px;
               background-color: Basic-needs.$sub-color;
                @include Row-center.row-center;
                transform: scale(1);
                transition-duration: 0.3s;

                border-radius: 100%;
                 .social-icon-nav{
                    font-size: 16px;
                    color: white;
                 }
            }
            .social-icons-nav:hover{
                cursor: pointer;
                transform: scale(1.05);
                transition-duration: 0.3s;
            }
        }
    }
    .nav-container-for-main-navbar{
        height: auto;
        width: 100%;
        @include Row-center.row-center;
        padding: 25px 0px 35px 0px;
        .site-logo{
            height: auto;
            width: 100%;
            font-size: 30px;;
            color: Basic-needs.$Main-color;
            @include Row-center.row-center;
            justify-content: flex-start;
            .site-logo-img{
                height: 50px;
                width: 50px;
                border-radius: 100%; 
            }
            .site-logo-name{
                font-size: 23px;
                font-weight: 600;
                font-family: 'M PLUS Rounded 1c';
            }

        }
        .nav-sections{
            height: auto;
            width: 100%;
            @include Row-center.row-center;
            justify-content: flex-end;
            gap: 45px;
            .nav-link-para{
                text-decoration: none;
                color: Basic-needs.$sub-main-txt-clr;
                font-family: 'Hubballi';
                font-weight: 600;
                font-size: 20px;
                gap:5px;
                transition-duration: 0.3s;
                @include Row-center.row-center;
                .arrow-change-icon{
                    @include Row-center.row-center;
                    font-size: 13px;
                    transform: rotate(0deg);
                    transition-duration: 0.3s;
                }


            }
            .nav-link-para:hover{
                transition-duration: 0.3s;
                color: Basic-needs.$Main-color;
                .arrow-change-icon{
                    transform: rotate(90deg);
                    transition-duration: 0.3s;
                    color: Basic-needs.$Main-color;
                    
                }
            }
        }
    }
}




@media screen and  (max-width:1450px) {

}


@media screen and  (max-width:1300px) {
   .nav-bar-for-website{
    padding: 0px 80px;
   }
}

@media screen and  (max-width:1220px) {
   .nav-bar-for-website{
    padding: 0px 60px;
   }
}


@media screen and  (max-width:1080px) {
.nav-bar-for-website{
    padding: 0px 50px;
   }
   .nav-bar-for-website .nav-container-for-main-navbar{
    padding: 15px 0px 30px 0px;
   }
   .nav-bar-for-website .nav-container-for-main-navbar .nav-sections{
    gap: 40px;
   }
   .nav-bar-for-website .nav-container-for-main-navbar .nav-sections .nav-link-para{
    font-size: 18px;
   }
   .nav-bar-for-website .nav-container-for-main-navbar .site-logo .site-logo-name{
    font-size: 21px;
   }.nav-bar-for-website .nav-container-for-main-navbar .site-logo .site-logo-img{
    height: 45px;
    width: 45px;
   }
  
}


@media screen and  (max-width:950px) {
.nav-bar-for-website{
    padding: 0px 25px;
   }
   
}



@media screen and  (max-width:810px) {
    .nav-bar-for-website{
    padding: 0px 15px;
    
   }
   .nav-bar-for-website .nav-container-for-main-navbar .nav-sections{
    gap: 32px;
   }
   .nav-bar-for-website .nav-container-for-main-navbar .site-logo{
    flex: 1 1 calc(30%);
   }
   .nav-bar-for-website .nav-container-for-main-navbar .nav-sections{
    flex: 1 1 calc(70%);
   }
}



@media screen and  (max-width:700px) {
    .nav-bar-for-website{
    padding: 0px 35px;
    
   }
   .nav-bar-for-website .nav-container-for-search .social-link-nav .social-icons-nav{
    height: 30px;
    width: 30px;
   }
   .nav-bar-for-website .nav-container-for-search .social-link-nav .social-icons-nav .social-icon-nav{
    font-size: 15px;
   }
   .nav-bar-for-website .nav-container-for-search .search-bar-nav .search-bar-container-in-nav{
    padding: 6px 8px;
   }
   .nav-bar-for-website .nav-container-for-search .search-bar-nav .search-bar-container-in-nav .input-for-search::placeholder{
    font-size: 12px;
   }
   .nav-bar-for-website .nav-container-for-search .search-bar-nav .search-icon-holder-nav{
    height: 30px;
    width: 30px;
   }
   .nav-bar-for-website .nav-container-for-search .search-bar-nav .search-icon-holder-nav .search-icon-nav{
    font-size: 15px;
   }
   .nav-bar-for-website .nav-container-for-main-navbar .nav-sections{
    gap: 28px;
    
   }
}

@media screen and  (max-width:650px) {
    .nav-bar-for-website .nav-container-for-main-navbar .nav-sections .nav-link-para{
        font-size: 17px;
    }
    .nav-bar-for-website .nav-container-for-main-navbar .nav-sections{
    display: none;
    
   }
   .nav-bar-for-website .mobile-burger-menu{
    display: flex;
    font-size: 25px;
    color: rgb(45, 45, 45);
   }
   .nav-bar-for-website .nav-container-for-search .search-bar-nav .search-bar-container-in-nav .input-for-search{
    width: 200px;
   }
}
@media screen and  (max-width:550px) {
    .nav-bar-for-website{
    padding: 0px 20px;
    
   }
   .nav-bar-for-website .nav-container-for-search{
    flex-direction: column;
   }
   .nav-bar-for-website .nav-container-for-search .search-bar-nav,.nav-bar-for-website .nav-container-for-search .social-link-nav{
    justify-content: center;
    align-items: center;
   }
   .nav-bar-for-website .nav-container-for-search .search-bar-nav .search-bar-container-in-nav .input-for-search{
    width: 240px;
   }
   .nav-bar-for-website .nav-container-for-search .search-bar-nav .search-bar-container-in-nav{
    padding: 8px 10px;
   }
   .nav-bar-for-website .nav-container-for-search .search-bar-nav .search-icon-holder-nav{
    height: 34px;
    width: 34px;
   }
   .nav-bar-for-website .nav-container-for-search .social-link-nav .social-icons-nav{
    height: 35px;
    width: 35px;
   }
   .nav-bar-for-website .nav-container-for-search .social-link-nav .social-icons-nav .social-icon-nav{
    font-size: 18px;
   }
   .nav-bar-for-website .nav-container-for-search .social-link-nav{
    padding: 0px;
   }
}


@media screen and  (max-width:400px) {
    .nav-bar-for-website .nav-container-for-search .search-bar-nav .search-bar-container-in-nav{
        padding: 6px 8px;
    }
    .nav-bar-for-website .nav-container-for-search .search-bar-nav .search-icon-holder-nav{
        height: 32px;
        width: 32px;
    }
    .nav-bar-for-website .nav-container-for-search .social-link-nav .social-icons-nav{
        height: 32px;
        width: 32px;
    }
    .nav-bar-for-website .nav-container-for-search .social-link-nav .social-icons-nav .social-icon-nav{
        font-size: 16px;
    }
}

@media screen and  (max-width:350px) {
.nav-bar-for-website .nav-container-for-search .search-bar-nav .search-bar-container-in-nav .input-for-search{
    width:200px;
}
}

@media screen and  (max-width:335px) {
 .nav-bar-for-website{
        padding: 0px 10px;
    }
}



@media screen and  (min-height:990px) and  (max-height:1300px) and  (max-width:990px){
    .nav-bar-for-website .nav-container-for-main-navbar .nav-sections .nav-link-para{
        font-size: 26px;
    }
    .nav-bar-for-website .nav-container-for-main-navbar .site-logo{
        flex: 1 1 calc(30%);
    }.nav-bar-for-website .nav-container-for-main-navbar .nav-sections{
        flex: 1 1 calc(70%);
    }
    .nav-bar-for-website .nav-container-for-main-navbar .site-logo .site-logo-img{
        height: 80px;
        width: 80px;
    }
    .nav-bar-for-website .nav-container-for-main-navbar .site-logo .site-logo-name{
        font-size: 31px;
    }
    .nav-bar-for-website .nav-container-for-search .social-link-nav .social-icons-nav{
        height: 45px;
        width: 45px;
    }
    .nav-bar-for-website .nav-container-for-search .social-link-nav .social-icons-nav .social-icon-nav{
        font-size: 26px;
    }
    .nav-bar-for-website .nav-container-for-main-navbar .nav-sections{
        gap: 25px;
    }.nav-bar-for-website .nav-container-for-search .social-link-nav{
        gap: 25px;
    }
    .nav-bar-for-website .nav-container-for-search .search-bar-nav .search-bar-container-in-nav .input-for-search{
        width: 280px;
    }
    .nav-bar-for-website .nav-container-for-search .search-bar-nav .search-bar-container-in-nav{
        padding-top: 15px;
        padding-bottom: 15px;
       
    }
    .nav-bar-for-website .nav-container-for-search .search-bar-nav .search-bar-container-in-nav .input-for-search{
        font-size: 22px;
    }
     .nav-bar-for-website .nav-container-for-search .search-bar-nav .search-bar-container-in-nav .input-for-search::placeholder{
        font-size: 22px;
    }
    .nav-bar-for-website .nav-container-for-search .search-bar-nav .search-icon-holder-nav{
        height: 45px;
        width: 45px;
    }
    .nav-bar-for-website .nav-container-for-search .search-bar-nav .search-icon-holder-nav .search-icon-nav{
        font-size: 22px;
    }
}