$Main-color:#26ABA3;
$sub-color:#F7AB1E;
$color-for-view-more-box:#b07ab4;
$bg-main-color:#F4FCFA;
$main-txt-clr:#293039;
$sub-main-txt-clr:#2a3037;
$sub-txt-clr:#51565D;
$border-light-color:rgb(210, 209, 209);
$border-more-light-color:rgb(236, 236, 236);