$main-color-for-app:rgb(255, 68, 81);
$main-color-for-app-little-darker:rgb(255, 52, 66);
$main-color-for-app-little-lighter:rgba(255, 89, 100, 1);
$main-color-red-for-btn:rgb(255, 74, 74);
$main-color-yellow-for-btn:rgb(255, 203, 30);;
$main-color-for-app-more-darker:rgb(255, 41, 56);
$font-main-color:rgb(52, 52, 52);
$border-light-color:rgb(218, 218, 218);
$border-more-light-color:rgb(236, 236, 236);
$star-color:rgb(255, 157, 0);
@mixin letter-color-main{
         background: #54ffe0;
    background: linear-gradient(209deg, rgb(84, 255, 224) 0%, rgb(255, 138, 220) 100%);
     -webkit-background-clip: text;
     background-clip: text;
     color: transparent;
}