@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

.motion-txt-container{
    padding: 60px 0px;
    padding-bottom: 0px;
}.parallax {
  position: relative;
  overflow: hidden;
  
}

.scroller {
    padding: 10px 0px;
  display: flex;
  white-space: nowrap;
  text-align: center;
  font-family: "Patrick Hand SC";
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 1px;
  filter: drop-shadow(0 6px 6px rgba(110, 110, 110, 0.509));
  color: #434343;
}

.scroller span {
  flex-shrink: 0;
}

@media (min-width: 768px) {
  .scroller {
    font-size: 60px;
    line-height: 60px;
  }
}
